* {
    margin: 0;
    padding: 0;
}

/* .tm-header {
    margin-bottom: 35px;
} */

mark {
    display: block;
    background-color: black;
    height: 20px;
}

mark span {
    color: white;
    position: absolute;
    top: 0px;
    right:15px;
    line-height: 15px;
}

mark span small {
    line-height: 15px;
    margin: 0px 10px 20px 10px;
}

mark span::before {
    content: url('../assets/phone-icon.png');
}

.tm-logo {
    padding: 10px;
}

.tm-nav {
    background-color: white;
    max-width: 100%;
    padding: 0px;
}

#navbarMenu {
    margin-right:10px;
}

.tm-nav-link {
    font-weight: 700;
    margin-left: 40px;
}

footer {
    background-color: black;
    line-height: 50px;
    color: white;
    padding: 0px 20px;
}

.right {
    float: right;
}

small {
    margin-right: 10px;
}

figure {
    display: inline-block;
    margin-bottom: 0px;
}

.social {
    margin-right: 5px;
}

@media screen and (max-width: 600px) {
    mark span {
        left: 50%;
        margin-left: -50px;
    }

    mark span small {
        margin: 0px;
    }

    .tm-logo {
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -70px;
    }

    .navbar-toggler {
        position: absolute;
        top: 0px;
        right: 5px;
        top: 4px;  
    }

    #navbarMenu {
        margin-right:0px;
    }

    .navbar-nav {
        background-color: rgb(211, 206, 206);
        text-align: center;
        position: absolute;
        top: 44px;
        z-index: 1040;
    }

    .tm-nav {
        margin-bottom: 35px;
    }

    .nav-item, .tm-nav-link, .navbar-nav {
        max-width: 100%;
        display: block;
        width: 100%;
    }

    .tm-nav-link {
        margin: 0px;
    }

    .tm-nav-link:first-of-type, .tm-nav-link:last-of-type {
        margin: 10px 0px;
    }

    .tm-nav-link:hover {
        background-color: white;
    }
    
    .active {
        background-color: white;
    }

    .mob-menu {
        margin-right: 10px;
    }

    footer {
        line-height: 30px;
    }

    footer small {
        display: block;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    .left {
        padding-bottom: 20px;
    }

    .right {
        float: none;
        clear: both;
    }

    .social {
        line-height: 10px;
    }
    
    figure {
        position: relative;
        left: 50%;
        margin-left: -60px;
    }
}