* {
    margin: 0;
    padding: 0;
}

.tm-container {
    max-width: 100%;
}

mark {
    display: block;
    background-color: black;
    height: 25px;
}

mark span {
    color: white;
    position: absolute;
    top: 0px;
    right: 20px;
}

.tm-header {
    background-color: white;
}

.tm-logo {
    float: left;
    padding: 15px;
}
.tm-nav {
    float: right;
    line-height: 51px;
}

.tm-nav div {
    padding: 0px;
}

.tm-nav ul li {
    display: inline-block;
}

.tm-nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-left: 40px;
    
}