* {
    margin: 0px;
    padding: 0px;
}

.tm-bg-img {
    position: relative;
    padding: 0px;
    margin: 0px;
    height: 464px;
    max-width: 100%;
    background-color: white;
    background-image: url(../assets/slide.jpg);
    background-size: contain;
    object-fit: cover;
    background-repeat: no-repeat;
}

.title, .desc {
    font-style: normal;
    position: absolute;
}

.title {
    font-weight: 600;
    top: 240px;
    font-size: 40px;
}

.desc {
    font-size: 18px;
    top: 288px;
    /* padding: 3.5% 0%; */
}

.tm-article {
    /* position: relative;
    top: 488px; */
    background-color: rgb(21, 144, 245);
    padding: 10px 20px;
    border: 0px;
}

.tm-article h4 {
    color: white;
}

/* main {
    float: top;
    z-index: 1000;
}

#lawer {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
} */


@media (max-width: 768px) {
    .tm-bg-img {
        height: 264px;
        padding: 0px;
        margin: 0px;
    }

    .title {
        top: 124px;
        font-size: 32px;
    }
    
    .desc {
        font-size: 16px;
        top: 164px;
    }

    .tm-article {
        top: 335px;
        padding: 10px 30px;
    }
    
}

@media (max-width: 576px) { 
    .tm-bg-img {
        display: none;
    }

    .tm-article {
        /* position: absolute;
        top: 65px; */
        z-index: 1000;
    }

    .tm-article h4 {
        padding: 10px 0px;
    }
    
    .tm-article p {
        line-height: 1.8;
    }
    
}